/*********custom helper classes************ */

.no-list-style {
  list-style: none;
}
/*********custom helper classes************ */
.admin-sidebar {
  position: absolute;
  top: 5%;
  width: 20%;
}

.hand-pointer {
  cursor: pointer;
}
