.MuiPopover-paper {
  top: 50px !important;
}

.item {
  padding: 15px 0px !important;
}

i.icon {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.MuiFormHelperText-root {
  color: red !important;
}
.error {
  color: red !important;
  font-size: 14px;
}
.MuiFormControl-marginNormal {
  margin-top: 0px !important;
  margin-bottom: 5px !important;
}
